[submodule "lcdb-wf"]
	path = lcdb-wf
	url = https://github.com/lcdb/lcdb-wf.git
[submodule "website/plugins/pelican-plugins"]
	path = website/plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "website/plugins/ipynb"]
	path = website/plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
