# python
*__pycache__
*.ipynb_checkpoints
*.pyc

# R

# osx
*DS_Store*

# Snakemake and Slurm
*.snakemake
*/slurm_logs
*slurm-*.out

# Folders
data
output
*cachedir
references
_build
.*
*logs
notebook/*/*_files
notebook/*/*_cache
website/content
dask-worker-space
figures
tables

# Files
notebook/*/*.html
*.adapters
*.log
*.pdf
